# This is an example of the .env file I created to avoid having the OpenWeather API Key on the source code.
# To run this project, rename .env.example to .env, and replace the {insert_your_api_key_here} with your
# OpenWeather API Key.
OPEN_WEATHER_API_KEY=insert_your_api_key_here